# https://EditorConfig.org
root = true

[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8
trim_trailing_whitespace = true

[*.{js,jsx,ts,tsx,json,astro}]
indent_style = space
indent_size = 2

[*.{css,scss,sass}]
indent_style = space
indent_size = 2

[*.{html,htm,astro}]
indent_style = space
indent_size = 2

[*.md]
trim_trailing_whitespace = false

[*.{yml,yaml}]
indent_style = space
indent_size = 2
